.svg-hexagonal-counter {
    position: relative;
    float: left;
}

.svg-hexagonal-counter .hint {
    text-align:center;
    position: absolute;
    /*line-height: 200px;*/
    top: 40%;
    width: 100%;
    font-size: 1.5em;
    font-weight: 700;
}

/*svg {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}*/


.svg-hexagonal-counter .counter{
    width: 200px;
    height: 240px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.svg-hexagonal-counter .counter .track,
.svg-hexagonal-counter .counter .fill {
    fill: rgba(0, 0, 0, 0);
    stroke-width: 30;
    transform: translate(290px, 800px)rotate(-120deg);
}

.svg-hexagonal-counter .counter .fill {
    stroke: rgb(255, 255, 255);
    stroke-linecap: round;
    stroke-dasharray: 2160;
    stroke-dashoffset: 2160;
}